server:
  port: 8083

spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:postgresql://postgres:5432/notificationdb
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: notification-group-v1
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "com.kbtu.api.contracts.event"
