server:
  port: 8083
spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:postgresql://postgres:5432/notificationdb
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000 # 30 секунд для ожидания подключения
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 600000

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: notification-group-v1
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.kbtu.api.contracts.event"